<!DOCTYPE html>
<meta charset="utf-8">
<style>

    circle {
        stroke-width: 1.5px;
        stroke: black;
    }
      
    text {
        font: 10px sans-serif;
        pointer-events: none;
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    }

    svg {
        width: 50%;
        height: 50%;
    }
</style>
<head>
    <title>West Marches Map Edit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
</head>
<body nodes="{{nodes}}" edges="{{edges}}" tags="{{tags}}" map="{{map}}">
    <svg width="{{width}}" height="{{height}}" xmlns="http://www.w3.org/2000/svg"></svg>
    <button onclick="outputNodes()">Save Locations</button>
    <form action="/submit/node" method="POST"> {% csrf_token %}
        Name: <input type="text" name="node_name"> <br>
        Fill: <input type="color" name="node_fill"> <br>
        Radius: <input type="number" name="node_r"> <br>
        Tags: <input type="text" name="node_tags"> <br>
        <input type="number" name="map" value="{{map}}" hidden="true">
        <input type="submit" value="Create Node">
    </form>
    <br>
    <form action="/submit/edge" method="POST"> {% csrf_token %}
        Source Name: <input type="text" name="source_name" id="source_name"><br>
        Target Name: <input type="text" name="target_name" id="target_name"><br>
        Distance: <input type="number" name="weight"><br>
        <input type="number" value="{{map}}" hidden="true" name="map">
        <input type="submit" value="Create Edge">
    </form>
</body>

<script src="https://d3js.org/d3.v4.min.js"></script>
{% load static %}
<script src="{% static "map/display.js" %}"></script>
