<!DOCTYPE html>
<meta charset="utf-8">
<style>

    circle {
        stroke-width: 1.5px;
        stroke: black;
    }
      
    text {
        font: 10px sans-serif;
        pointer-events: none;
        text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
    }
</style>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
</head>
<body nodes="{{nodes}}" edges="{{edges}}" tags="{{tags}}" map="{{map}}">
    <svg width="{{width}}" height="{{height}}"></svg>
</body>

<script src="https://d3js.org/d3.v4.min.js"></script>
{% load static %}
<script src="{% static "map/display.js" %}"></script>
